body {
    margin: 0px;
}

.home_container {
    position: relative;
    height: 100%;
}

.sidebar {
    width: 25%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding-top: 5%;
}

.sidebar img {
    width: 7rem;
    border-radius: 100%;
    border: 2px solid black;
}

.sidebar h4 {
    color: grey;
}

#nav {
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

#nav li {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(237,236,236);
}

#nav li.active {
    border-top: 1px solid rgb(237,236,236);
    background-color:rgb(237,236,236);
}

li.active a:after {
    background-color: #f4c052;
    display: block;
    position: absolute;
    content: '';
    right: 0px;
    bottom: 0px;
    width: 3px;
    height: 100%;   
}

#nav a {
    text-decoration: none;
    color: black;
}

.portfolio_container {
    margin-left: 27%;
}

.title-wrapper {
    display: flex;
    margin-top: 2rem;
}

.title-wrapper .title{
    background-color: rgb(250, 198, 130);
    padding: 0.75rem 1.5rem 0.75rem 3.75rem;
    color: white;
    font-weight: bold;
}

.title-wrapper .sub-title {
    padding: 0.75rem 0rem 0.75rem 1.5rem;
    font-size: smaller;
    color: rgb(192, 195, 198);
}

.menu-wrapper {
    display: flex;
    justify-content: center;
}

.menu-wrapper > div {
    padding: 0.75rem;
    margin-top: 2.25rem;
}

.menu-wrapper > div.active {
    padding: 0.75rem;
    background-color: rgb(250, 198, 130);
    color: white;
}

.images-wrapper {
    margin: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.images-wrapper .image-item {
    width: 15rem;
}

.image-item img {
    width: 100%;
}

@media screen and (max-width: 425px) {
    .images-wrapper .image-item {
        width: 10rem;
    }
}
